<%- include("header") -%> 

<p>This is the lords chosen charismatic revival ministries and the lord has given us 
  a three foold vision to fulfill which are as follows!
</p>

<%- include("footer") -%>